/* DESKTOP */

:root {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --light-blue: #daf1fc;
  --light-grey: #eaebeb;
  --dark-grey: #adadad;
  --dark-blue: #b4e3f8;
}

button {
  background-color: white;
  border: solid 1px var(--dark-grey);
  border-radius: 5px;
  text-align: center;
  min-height: 25px;
}

button:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

/* layout for body */
body {
  margin: 0;
  display: grid;
  grid-template-rows: 65px auto 30px;
  background-color: var(--light-blue);
  max-height: fit-content;
}

/* layout for navbar */
nav {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--light-grey);
  border-bottom: 1px solid var(--dark-grey);
}

.btn-nav {
  width: 80px;
}

/* layout for main */
main {
  display: grid;
  grid-template-columns: auto, auto, auto;
  justify-items: center;
  width: 100%;
}

/* intro layout */

.intro {
  width: fit-content;
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
}

.intro-img {
  position: absolute;
  justify-self: flex-start;
  height: auto;
  width: 180px;
  z-index: 0;
  border-radius: 5px;
}

.about-me {
  justify-self: flex-end;
  z-index: 1;
  max-width: 600px;
  margin-top: 60px;
  margin-left: 160px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

/* projects layout */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.projects h2 {
  background-color: var(--light-grey);
  width: 98%;
  text-align: center;
  padding: 3px;
  border: 1px solid var(--dark-grey);
}

.project-display {
  display: flex;
  flex-direction: row;
}

.project-div {
  border: var(--dark-grey) solid 1px;
  margin: 15px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.project-div i {
  font-size: 30px;
}

.project-div p {
  padding-top: 3;
  padding-bottom: 3;
  text-align: center;
}

/* contact layout */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.contact h2 {
  background-color: var(--light-grey);
  width: 98%;
  text-align: center;
  padding: 3px;
  border: 1px solid var(--dark-grey);
}

.contact-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-btns {
  display: flex;
  flex-direction: row;
}

.contact-btns > button {
  margin: 15px;
}

.contact-img {
  height: fit-content;
  width: 150px;
  margin: 10px;
  border-radius: 5px;
}

/* footer layout */
footer {
  background-color: var(--light-grey);
  width: 100%;
  text-align: center;
  border-top: 1px solid var(--dark-grey);
}

/* TABLET BREAKPOINT*/

@media screen and (max-width: 1000px) {
  .intro-img {
    margin-left: 10px;
  }
  .about-me {
    margin-right: 10px;
  }

  .contact-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
  }

  .contact-img {
    height: fit-content;
    width: 150px;
    margin: 10px;
  }

  .project-display {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* MOBILE BREAKPOINT*/

@media screen and (max-width: 600px) {
  .intro {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-img {
    position: relative;
    margin-bottom: 10px;
    width: 90%;
  }

  .about-me {
    position: relative;
    margin: 10px;
  }

  .about-me > h2 {
    justify-self: center;
  }
}
